# JON'S HiML Competition RFG_Log Model (v 2.5)
## Make Date: 04/13/18
This model will be updated to include ideas from EDA onto the RFG model. 
Some base features include:  

1. This ML model was built using scikit's RandomForestRegressor model.  
1. Automatically find the best combination of input parameters using the combo-picker function    
1. Let's implement log transform on the quantities to improve score.
1. From Monday (4/9/17) meetup, we know Customer 7 skews the data. So what if we make 2 different models: 1 for Customer 7 and another for everyone else?

In [2]:
#Some initialization procedures:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

# load in data files
# FILE_DIR = '../input/hawaiiml-data'
# for f in os.listdir(FILE_DIR):
#     print('{0:<30}{1:0.2f}MB'.format(f, 1e-6*os.path.getsize(f'{FILE_DIR}/{f}')))
FILE_DIR = '../Sprint09alt_Machine_Learning_Hawaii_Kaggle_Competition'
df_train = pd.read_csv(f'train.csv', encoding='ISO-8859-1') #write training data to dataframe
df_test = pd.read_csv(f'test.csv', encoding='ISO-8859-1') # Read the test data

#define the error function:
def rmsle(y_true, y_pred):
    return np.sqrt(np.mean((np.log1p(y_true) - np.log1p(y_pred))**2))

# Build Features

In [2]:
#convert date strings to datatime datatypes:
df_train['date'] = pd.to_datetime(df_train['date'])
df_test['date'] = pd.to_datetime(df_test['date'])

df_train = df_train.assign(day_of_week = df_train.date.dt.dayofweek)
df_test = df_test.assign(day_of_week = df_test.date.dt.dayofweek)

In [3]:
df_train = df_train.assign(is_day0To2 = 0)
df_train['is_day0To2'] = 0
df_train.loc[(df_train['day_of_week'] < 3),['is_day0To2']]  = 1

df_train = df_train.assign(is_day3 = 0)
df_train['is_day3'] = 0
df_train.loc[(df_train['day_of_week'] == 3),['is_day3']]  = 1

df_train = df_train.assign(is_day4 = 0)
df_train['is_day4'] = 0
df_train.loc[(df_train['day_of_week'] == 4),['is_day4']]  = 1

df_train = df_train.assign(is_day6 = 0)
df_train['is_day6'] = 0
df_train.loc[(df_train['day_of_week'] == 6),['is_day6']]  = 1

In [4]:
df_train = df_train.loc[(df_train['unit_price'] > 0) & (df_train['unit_price'] < 10000) ]
df_train = df_train.assign(unit_price_log1p = np.log1p(df_train.unit_price))
df_test = df_test.assign(unit_price_log1p = np.log1p(df_test.unit_price))

In [5]:
df_train = df_train.assign(uplog1p_quant1 = 0)
df_train.loc[(df_train['unit_price_log1p'] < 6.47774129795256),['uplog1p_quant1']]  = 1
df_test = df_test.assign(uplog1p_quant1 = 0)
df_test.loc[(df_test['unit_price_log1p'] < 6.47774129795256),['uplog1p_quant1']]  = 1

In [6]:
df_train['time'] = pd.to_datetime(df_train['time'])
df_test['time'] = pd.to_datetime(df_test['time'])
df_train = df_train.assign(hr = df_train.time.dt.hour)
df_test = df_test.assign(hr = df_test.time.dt.hour)

In [7]:
df_train = df_train.assign(invoice_id_log1p = np.log1p(df_train.invoice_id))
df_test = df_test.assign(invoice_id_log1p = np.log1p(df_test.invoice_id))

# Split Data Between Customer 7 and Everyone Else

In [8]:
#split training data between customer 7 and everyone else:
df_train_7 = df_train.loc[df_train['customer_id'] == 7] #customer 7 only
df_train_no7 = df_train.loc[df_train['customer_id'] != 7] #everyone else

#split test data:
df_test_7 = df_test.loc[df_test['customer_id'] == 7] #customer 7 only
df_test_no7 = df_test.loc[df_test['customer_id'] != 7] #everyone else

# Define Training Target Data:
1. We want to predict the quantity data field.    
1. By convention, we define this target as 'y'.  
1. From model 2.02, we know that doing a log transform on the tartget reduces skewness and improves score.

In [9]:
y = df_train.quantity
logy_7 = np.log1p(df_train_7.quantity) #take log of quantities
logy_no7 = np.log1p(df_train_no7.quantity) #take log of quantities

# Define ML Predictors
build a function to go through each combination of predictors

### Here is the list of columns we can choose predictors from.

In [10]:
print('Column Names & Data Types: \n', df_train.dtypes)

Column Names & Data Types:
 id                           int64
date                datetime64[ns]
time                datetime64[ns]
invoice_id                   int64
stock_id                     int64
customer_id                  int64
country                     object
description                 object
unit_price                 float64
quantity                     int64
day_of_week                  int64
is_day0To2                   int64
is_day3                      int64
is_day4                      int64
is_day6                      int64
unit_price_log1p           float64
uplog1p_quant1               int64
hr                           int64
invoice_id_log1p           float64
dtype: object

## Define feature combination picker

In [11]:
ls_AllPredictors = ['invoice_id', 'stock_id', 'customer_id', 'unit_price_log1p', 'uplog1p_quant1', 
                    'day_of_week', 'is_day6', 'hr']

# https://stackoverflow.com/questions/464864/how-to-get-all-possible-combinations-of-a-list-s-elements
from itertools import chain, combinations
def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)  # allows duplicate elements
    return chain.from_iterable(combinations(s, r) for r in range(len(s)+1))
#build combos:
ls_PredictorCombos = [list(combo[1]) for combo in enumerate(powerset(ls_AllPredictors), 1)]
#Define combo getting function:
def GetX(comboID, adf_train):
    #get X values in adf_train for the given list of predictors
    return adf_train[ls_PredictorCombos[comboID]]

# Implement Random Forest Regressor Model on Each Predictor Combo
## Define Some Helper Functions

In [12]:
def Run_RFG(SeedVal, X, logy):
    #fit, predict, and then evaluate a model using passed in values (e.g. training set)
    #return back RMSLE value and trained model

    myModel = RandomForestRegressor(n_estimators=200, max_features = 'auto',n_jobs = -1)
    train_X, val_X, train_y, val_y = train_test_split(X, logy,random_state = SeedVal) #split training data into a test and train part
    myModel.fit(train_X, train_y)
    predicted_vals = np.expm1(myModel.predict(val_X)) #transform predicted values from log to "normal" Y value
    return rmsle(np.expm1(val_y), predicted_vals), myModel #include transform of val_Y values from log to "normal" Y value

In [131]:
def FindBestCombo_Model(adf_train, logy):
    #iteratively search for best parameter combinations to match X values in adf_train with logy
    #return best combo, error results of each model, training error, and model
    MinErr = 100000000
    df_Track = pd.DataFrame()
    for comboID in range(1,len(ls_PredictorCombos)):
        SeedVal = 6
        X = GetX(comboID, adf_train)
        TrainErr,myModel = Run_RFG(SeedVal,X,logy)
        df2 = pd.DataFrame([[comboID, TrainErr, ','.join(ls_PredictorCombos[comboID])]],columns=['ComboID','err','Preds'])
        if df_Track.shape[0] >0:
            df_Track = pd.concat([df2, df_Track])
        else:
            df_Track = df2.copy(deep = True)
        if TrainErr < MinErr:
            MinErr = TrainErr
    #         BestSeedVal = SeedVal
            bestComboID = comboID
            print ('Best Combo: ', comboID, ' Params: ', ls_PredictorCombos[comboID], ' Err: ', TrainErr)
    #train with best combo:
    X = GetX(bestComboID, adf_train)
    TrainErr,myModel = Run_RFG(0,X,logy)
    print ('fin')
    return ls_PredictorCombos[bestComboID], df_Track, TrainErr, myModel

### Build Customer 7 and Everyone Else Models:
1. Find Best Predictors
1. Define Separate Models

In [138]:
ls_mypredictors_7, df_Track_7, TrainErr_7, myModel_7 = FindBestCombo_Model(df_train_7, logy_7) #train customer 7 model
ls_mypredictors_no7, df_Track_no7,  TrainErr_no7, myModel_no7 = FindBestCombo_Model(df_train_no7, logy_no7) #train everyone else model

Best Combo:  1  Params:  ['invoice_id']  Err:  0.557969876249
Best Combo:  12  Params:  ['invoice_id', 'uplog1p_quant1']  Err:  0.557849261932
Best Combo:  14  Params:  ['invoice_id', 'is_day6']  Err:  0.557827684602
Best Combo:  15  Params:  ['invoice_id', 'hr']  Err:  0.557055701861
Best Combo:  17  Params:  ['stock_id', 'unit_price_log1p']  Err:  0.500776934454
Best Combo:  63  Params:  ['stock_id', 'unit_price_log1p', 'uplog1p_quant1']  Err:  0.500290695388
Best Combo:  130  Params:  ['stock_id', 'customer_id', 'unit_price_log1p', 'is_day6']  Err:  0.499158143675
fin
Best Combo:  1  Params:  ['invoice_id']  Err:  0.718939068669
Best Combo:  10  Params:  ['invoice_id', 'customer_id']  Err:  0.709790467302
Best Combo:  22  Params:  ['customer_id', 'unit_price_log1p']  Err:  0.592290890834
Best Combo:  73  Params:  ['customer_id', 'unit_price_log1p', 'uplog1p_quant1']  Err:  0.591829907902
fin

## Observations

In [139]:
display(df_Track_7.sort_values(by=['err']))
display(df_Track_no7.sort_values(by=['err']))

    ComboID       err                                              Preds
0       130  0.499158      stock_id,customer_id,unit_price_log1p,is_day6
0       139  0.500087   stock_id,unit_price_log1p,uplog1p_quant1,is_day6
0        63  0.500291           stock_id,unit_price_log1p,uplog1p_quant1
0       199  0.500752  stock_id,customer_id,unit_price_log1p,uplog1p_...
0        17  0.500777                          stock_id,unit_price_log1p
0        58  0.501359              stock_id,customer_id,unit_price_log1p
0        65  0.501796                  stock_id,unit_price_log1p,is_day6
0       128  0.501928  stock_id,customer_id,unit_price_log1p,uplog1p_...
0       198  0.527774  stock_id,customer_id,unit_price_log1p,uplog1p_...
0       208  0.527956  stock_id,unit_price_log1p,uplog1p_quant1,day_o...
0       138  0.528237  stock_id,unit_price_log1p,uplog1p_quant1,day_o...
0       141  0.528746      stock_id,unit_price_log1p,day_of_week,is_day6
0       240  0.529259  stock_id,customer_id,unit_price_log1p,uplog1p_...
0       129  0.529324  stock_id,customer_id,unit_price_log1p,day_of_week
0        64  0.530112              stock_id,unit_price_log1p,day_of_week
0       201  0.530729  stock_id,customer_id,unit_price_log1p,day_of_w...
0       143  0.531576               stock_id,unit_price_log1p,is_day6,hr
0        66  0.532302                       stock_id,unit_price_log1p,hr
0       210  0.532369  stock_id,unit_price_log1p,uplog1p_quant1,is_da...
0       203  0.532978   stock_id,customer_id,unit_price_log1p,is_day6,hr
0       140  0.533038        stock_id,unit_price_log1p,uplog1p_quant1,hr
0       200  0.533490  stock_id,customer_id,unit_price_log1p,uplog1p_...
0       242  0.534265  stock_id,customer_id,unit_price_log1p,uplog1p_...
0       131  0.534826           stock_id,customer_id,unit_price_log1p,hr
0       232  0.541299  invoice_id,stock_id,unit_price_log1p,day_of_we...
0       173  0.542254  invoice_id,stock_id,unit_price_log1p,uplog1p_q...
0       249  0.542324  invoice_id,stock_id,customer_id,unit_price_log...
0       175  0.543032  invoice_id,stock_id,unit_price_log1p,uplog1p_q...
0       248  0.543153  invoice_id,stock_id,customer_id,unit_price_log...
0       219  0.543167  invoice_id,stock_id,customer_id,unit_price_log...
..      ...       ...                                                ...
0        89  0.610757                 uplog1p_quant1,day_of_week,is_day6
0        31  0.610759                         uplog1p_quant1,day_of_week
0        77  0.610762             customer_id,uplog1p_quant1,day_of_week
0         6  0.610810                                        day_of_week
0        34  0.610820                                day_of_week,is_day6
0        80  0.610821                    customer_id,day_of_week,is_day6
0        24  0.610827                            customer_id,day_of_week
0        32  0.611035                             uplog1p_quant1,is_day6
0        78  0.611041                 customer_id,uplog1p_quant1,is_day6
0         7  0.611103                                            is_day6
0        25  0.611103                                customer_id,is_day6
0         5  0.611159                                     uplog1p_quant1
0        23  0.611165                         customer_id,uplog1p_quant1
0         3  0.611204                                        customer_id
0        39  0.614191                 invoice_id,stock_id,uplog1p_quant1
0        41  0.615038                        invoice_id,stock_id,is_day6
0       168  0.617506  invoice_id,stock_id,customer_id,uplog1p_quant1...
0        94  0.619260     invoice_id,stock_id,customer_id,uplog1p_quant1
0        96  0.619429            invoice_id,stock_id,customer_id,is_day6
0       103  0.619646         invoice_id,stock_id,uplog1p_quant1,is_day6
0         9  0.620334                                invoice_id,stock_id
0        37  0.621137                    invoice_id,stock_id,customer_id
0       147  0.624125                    stock_id,day_of_week,is_day6,hr
0       136  0.624455                stock_id,customer_id,day_of_week,hr
0       244  0.624736  stock_id,customer_id,uplog1p_quant1,day_of_wee...
0       212  0.624736     stock_id,uplog1p_quant1,day_of_week,is_day6,hr
0       145  0.626171             stock_id,uplog1p_quant1,day_of_week,hr
0       205  0.626212  stock_id,customer_id,uplog1p_quant1,day_of_wee...
0        71  0.627012                            stock_id,day_of_week,hr
0       207  0.627184        stock_id,customer_id,day_of_week,is_day6,hr

[255 rows x 3 columns]

    ComboID       err                                              Preds
0        73  0.591830        customer_id,unit_price_log1p,uplog1p_quant1
0        22  0.592291                       customer_id,unit_price_log1p
0       149  0.597164  customer_id,unit_price_log1p,uplog1p_quant1,is...
0        75  0.598475               customer_id,unit_price_log1p,is_day6
0       235  0.600095  invoice_id,customer_id,unit_price_log1p,uplog1...
0       253  0.600310  invoice_id,customer_id,unit_price_log1p,uplog1...
0       187  0.602442  invoice_id,customer_id,unit_price_log1p,day_of...
0       237  0.603920  invoice_id,customer_id,unit_price_log1p,day_of...
0       246  0.603951  customer_id,unit_price_log1p,uplog1p_quant1,da...
0       213  0.604117  customer_id,unit_price_log1p,uplog1p_quant1,da...
0       188  0.604268  invoice_id,customer_id,unit_price_log1p,is_day...
0       236  0.604386  invoice_id,customer_id,unit_price_log1p,uplog1...
0       150  0.604465     customer_id,unit_price_log1p,uplog1p_quant1,hr
0       152  0.604816        customer_id,unit_price_log1p,day_of_week,hr
0       151  0.605180   customer_id,unit_price_log1p,day_of_week,is_day6
0       148  0.605360  customer_id,unit_price_log1p,uplog1p_quant1,da...
0        74  0.605805           customer_id,unit_price_log1p,day_of_week
0       216  0.606776  customer_id,unit_price_log1p,day_of_week,is_da...
0       215  0.607106  customer_id,unit_price_log1p,uplog1p_quant1,is...
0       214  0.607894  customer_id,unit_price_log1p,uplog1p_quant1,da...
0       153  0.608192            customer_id,unit_price_log1p,is_day6,hr
0        76  0.608216                    customer_id,unit_price_log1p,hr
0       111  0.609010         invoice_id,customer_id,unit_price_log1p,hr
0       185  0.610280  invoice_id,customer_id,unit_price_log1p,uplog1...
0       183  0.610526  invoice_id,customer_id,unit_price_log1p,uplog1...
0       234  0.611082  invoice_id,customer_id,unit_price_log1p,uplog1...
0       186  0.613266  invoice_id,customer_id,unit_price_log1p,day_of...
0       110  0.613672    invoice_id,customer_id,unit_price_log1p,is_day6
0       109  0.613850  invoice_id,customer_id,unit_price_log1p,day_of...
0       184  0.617172  invoice_id,customer_id,unit_price_log1p,uplog1...
..      ...       ...                                                ...
0         2  0.870494                                           stock_id
0        18  0.870610                            stock_id,uplog1p_quant1
0        39  0.871352                 invoice_id,stock_id,uplog1p_quant1
0        67  0.886465                stock_id,uplog1p_quant1,day_of_week
0        70  0.886620                       stock_id,day_of_week,is_day6
0        19  0.886866                               stock_id,day_of_week
0       144  0.887156        stock_id,uplog1p_quant1,day_of_week,is_day6
0        69  0.890754                         stock_id,uplog1p_quant1,hr
0        21  0.892113                                        stock_id,hr
0       146  0.903448                 stock_id,uplog1p_quant1,is_day6,hr
0        72  0.903885                                stock_id,is_day6,hr
0       212  0.960023     stock_id,uplog1p_quant1,day_of_week,is_day6,hr
0        71  0.961069                            stock_id,day_of_week,hr
0       145  0.962542             stock_id,uplog1p_quant1,day_of_week,hr
0       147  0.963374                    stock_id,day_of_week,is_day6,hr
0       162  0.967419              uplog1p_quant1,day_of_week,is_day6,hr
0        35  0.967420                                     day_of_week,hr
0        90  0.967443                      uplog1p_quant1,day_of_week,hr
0        92  0.967452                             day_of_week,is_day6,hr
0        36  0.971487                                         is_day6,hr
0        91  0.971499                          uplog1p_quant1,is_day6,hr
0         8  0.979019                                                 hr
0        33  0.979034                                  uplog1p_quant1,hr
0        31  0.989073                         uplog1p_quant1,day_of_week
0        89  0.989077                 uplog1p_quant1,day_of_week,is_day6
0        34  0.989079                                day_of_week,is_day6
0         6  0.989086                                        day_of_week
0        32  0.989814                             uplog1p_quant1,is_day6
0         7  0.989826                                            is_day6
0         5  0.999571                                     uplog1p_quant1

[255 rows x 3 columns]

# Train models using best found predictor combo

In [15]:
# Use separate models to diferentiate between customer 7 and everyone else.
from sklearn.ensemble import RandomForestRegressor
#best predictors:
ls_mypredictors_7 = ['stock_id', 'unit_price_log1p', 'is_day6']
ls_mypredictors_no7 = ['customer_id', 'unit_price_log1p', 'uplog1p_quant1'] 

#split training set into a subset of training and validation data:
train_X_7, val_X_7, train_y_7, val_y_7 = train_test_split(df_train_7[ls_mypredictors_7], logy_7, random_state = 0) #split training data into a test and train part
train_X_no7, val_X_no7, train_y_no7, val_y_no7 = train_test_split(df_train_no7[ls_mypredictors_no7], logy_no7, random_state = 0) #split training data into a test and train part

#define and fit models:
myModel_7 = RandomForestRegressor(n_estimators=1000, max_leaf_nodes=15000, max_features = 'auto',n_jobs = -1)
myModel_7.fit(train_X_7, train_y_7)
myModel_no7 = RandomForestRegressor(n_estimators=1000, max_leaf_nodes=15000, max_features = 'auto',n_jobs = -1)
myModel_no7.fit(train_X_no7, train_y_no7)
    
#make predictions using validation data:    
# df_train_7_pred = df_train_7.copy(deep = True) #copy test dataframe
val_X_7 = val_X_7.assign(pred_quantity = np.expm1(myModel_7.predict(val_X_7[ls_mypredictors_7])) )#predict and transform from log to "normal" Y value
# df_train_no7_pred = df_train_no7.copy(deep = True) #copy test dataframe
val_X_no7 = val_X_no7.assign(pred_quantity = np.expm1(myModel_no7.predict(val_X_no7[ls_mypredictors_no7]))) #predict and transform from log to "normal" Y value

#merge results
df_preds = pd.concat([val_X_7, val_X_no7]) #concatenate predictions into 1 dataframe
df_preds = pd.DataFrame (df_preds['pred_quantity'])
df_preds.sort_index(inplace=True)

df_preds['pred_quantity'] = round(df_preds['pred_quantity'],0) #round to nearest whole value

df_y = np.expm1(pd.concat([val_y_7,val_y_no7])) #concat y vals into 1 dataframe
df_y.sort_index(inplace=True)

print ('RMSLE score: ', rmsle(df_y, df_preds['pred_quantity']))

RMSLE score:  0.5682113765398783

In [162]:
print (myModel_7.feature_importances_)
print (myModel_no7.feature_importances_)

[ 0.64557884  0.34338557  0.01103559]
[ 0.62476342  0.37523658  0.        ]

# Submit Model's Predictions

## First, output model's predictions for test data set:

In [124]:
df_test_7_pred = df_test_7.copy(deep = True) #copy test dataframe    
df_test_7_pred['pred_quantity'] = np.expm1(myModel_7.predict(df_test_7[ls_mypredictors_7])) #predict and transform from log to "normal" Y value

df_test_no7_pred = df_test_no7.copy(deep = True) #copy test dataframe
df_test_no7_pred['pred_quantity'] = np.expm1(myModel_no7.predict(df_test_no7[ls_mypredictors_no7])) #predict and transform from log to "normal" Y value

df_preds = pd.concat([df_test_7_pred, df_test_no7_pred]) #concatenate predictions into 1 dataframe
df_preds['pred_quantity'] = round(df_preds['pred_quantity'],0) #round to nearest whole value

# # We will look at the predicted prices to ensure we have something sensible.
display(df_preds)

,id,date,time,invoice_id,stock_id,customer_id,country,description,unit_price,day_of_week,unit_price_log1p,uplog1p_quant1,invoice_id_log1p,pred_quantity
11,196540,2011-11-16,10:18,30,29,7,unspecified,circus parade lunch box,1.95,2,1.081805,1,3.433987,2.0
20,72496,2011-01-12,9:26,57,55,7,united kingdom,s/4 black mini rose candle in bowl,1.66,2,0.978326,1,4.060443,1.0
29,62221,2011-06-02,17:26,79,75,7,united kingdom,edwardian parasol natural,12.46,3,2.599722,1,4.382027,1.0
30,298410,2011-06-21,17:08,82,17,7,united kingdom,set of 60 i love london cake cases,1.25,1,0.810930,1,4.418841,2.0
33,163787,2011-03-22,16:55,92,87,7,united kingdom,hanging heart zinc t-light holder,2.08,1,1.124930,1,4.532599,2.0
36,207595,2011-06-10,14:01,99,93,7,united kingdom,charlotte bag suki design,2.46,4,1.241269,1,4.605170,76.0
38,215524,2011-03-09,16:32,107,101,7,united kingdom,red retrospot small milk jug,4.96,2,1.785070,1,4.682131,1.0
48,452939,2010-12-21,15:20,158,147,7,united kingdom,childs breakfast set circus parade,16.98,1,2.889260,1,5.068904,1.0
50,88914,2011-06-28,11:45,163,112,7,united kingdom,suki shoulder bag,4.13,1,1.635106,1,5.099866,2.0
58,425955,2011-08-31,15:32,196,178,7,united kingdom,red metal box top secret,16.63,2,2.869602,1,5.283204,2.0
59,444569,2011-05-03,9:44,199,181,7,united kingdom,blue spot ceramic drawer knob,3.29,1,1.456287,1,5.298317,3.0
65,369665,2011-10-10,16:47,210,192,7,united kingdom,manual,0.42,0,0.350657,1,5.351858,2.0
66,179919,2011-04-21,18:06,216,198,7,united kingdom,french blue metal door sign 3,1.25,3,0.810930,1,5.379897,2.0
67,365636,2011-09-21,15:34,217,199,7,united kingdom,travel card wallet flower meadow,0.83,2,0.604316,1,5.384495,1.0
69,224639,2011-04-01,10:58,221,203,7,united kingdom,"key fob , garage design",0.65,4,0.500775,1,5.402677,3.0
72,437537,2011-05-24,15:54,233,213,7,united kingdom,heart decoration painted zinc,1.25,1,0.810930,1,5.455321,2.0
76,265791,2011-06-20,9:41,247,223,7,united kingdom,jam making set printed,3.29,0,1.456287,1,5.513429,3.0
77,461197,2011-07-07,16:30,253,228,7,united kingdom,square floor cushion vintage red,15.79,3,2.820783,1,5.537334,1.0
90,209509,2011-07-18,15:49,312,276,7,united kingdom,skull shoulder bag,1.63,0,0.966984,1,5.746203,4.0
97,208128,2011-05-31,14:58,15,93,7,united kingdom,charlotte bag suki design,2.46,1,1.241269,1,2.772589,76.0
106,99999,2011-01-17,17:57,381,337,7,united kingdom,asstd multicolour circles mug,5.79,0,1.915451,1,5.945421,1.0
111,415209,2011-10-18,17:00,403,222,7,united kingdom,card suki birthday,0.42,1,0.350657,1,6.001415,4.0
115,12938,2011-01-06,14:27,416,367,7,united kingdom,egg cup natural chicken,2.51,3,1.255616,1,6.033086,1.0
121,264579,2011-09-07,16:48,432,378,7,united kingdom,set 6 school milk bottles in crate,7.46,2,2.135349,1,6.070738,5.0
125,139055,2011-09-23,12:56,443,70,7,united kingdom,jumbo bag toys,4.13,4,1.635106,1,6.095825,2.0
134,42,2011-10-04,10:11,465,177,7,united kingdom,peg bag apples design,5.79,1,1.915451,1,6.144186,1.0
138,39170,2011-08-30,12:49,470,407,7,united kingdom,pink sweetie necklace,7.48,1,2.137710,1,6.154858,1.0
139,407156,2011-07-20,16:12,471,408,7,united kingdom,lipstick pen baby pink,0.83,2,0.604316,1,6.156979,2.0
140,120757,2011-01-26,16:43,475,411,7,united kingdom,red retrospot mug,5.79,2,1.915451,1,6.165418,1.0
148,263162,2011-11-16,15:16,495,424,7,united kingdom,grey heart hot water bottle,8.29,2,2.228939,1,6.206576,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159350,312158,2011-06-21,11:19,5297,1084,2200,united kingdom,set/3 red gingham rose storage box,3.75,1,1.558145,1,8.575085,4.0
159351,73917,2011-12-06,12:12,11927,462,866,united kingdom,charlie+lola pink hot water bottle,0.79,1,0.582216,1,9.386644,3.0
159352,393252,2011-05-06,13:35,11401,2206,434,united kingdom,cowboys and indians birthday card,0.42,4,0.350657,1,9.341544,21.0
159353,434934,2011-05-31,14:19,2040,711,523,united kingdom,wooden school colouring set,1.65,1,0.974560,1,7.621195,2.0
159354,2714,2011-04-18,10:41,4802,1749,148,united kingdom,"tray, breakfast in bed",12.75,0,2.621039,1,8.476996,1.0
159355,483678,2011-07-15,14:05,1566,1599,909,united kingdom,childrens apron spaceboy design,1.95,4,1.081805,1,7.356918,6.0
159356,314432,2011-03-02,17:33,3076,1003,1224,united kingdom,jumbo bag owls,1.95,2,1.081805,1,8.031710,2.0
159357,116126,2010-12-06,12:40,13121,1680,74,eire,red retrospot mini cases,7.95,0,2.191654,1,9.482045,2.0
159358,521292,2010-12-08,14:36,562,265,22,united kingdom,small popcorn holder,0.85,2,0.615186,1,6.333280,6.0
159359,298771,2011-08-21,15:54,7511,64,2728,united kingdom,paper chain kit 50's christmas,2.95,6,1.373716,1,8.924257,4.0
159360,421056,2011-06-05,13:32,4092,1380,960,united kingdom,black kitchen scales,8.50,6,2.251292,1,8.317033,1.0
159361,308889,2011-04-13,15:58,2918,358,302,united kingdom,wooden rounders garden set,9.95,2,2.393339,1,7.978996,7.0
159362,87464,2011-01-05,10:51,10400,54,1118,united kingdom,pink heart shape egg frying pan,1.65,2,0.974560,1,9.249657,7.0
159363,222025,2011-10-13,15:23,3603,1615,1148,united kingdom,6 egg house painted wood,7.95,3,2.191654,1,8.189800,3.0
159365,292046,2011-11-20,15:36,162,1356,121,united kingdom,zinc folkart sleigh bells,1.69,6,0.989541,1,5.093750,4.0
159366,485184,2011-10-27,12:37,2404,157,1275,united kingdom,red floral feltcraft shoulder bag,3.75,3,1.558145,1,7.785305,5.0
159370,335745,2011-08-07,13:17,17989,827,584,united kingdom,feltcraft princess charlotte doll,3.75,6,1.558145,1,9.797571,4.0
159371,217419,2011-11-24,11:10,12675,37,2896,united kingdom,classic glass cookie jar,4.15,3,1.638997,1,9.447466,2.0
159372,222969,2011-09-29,13:04,1170,1636,708,united kingdom,pink honeycomb paper fan,0.65,3,0.500775,1,7.065613,11.0
159373,483429,2010-12-16,13:02,7832,1428,565,united kingdom,picture dominoes,1.45,3,0.896088,1,8.966101,16.0
159374,406349,2011-10-04,14:42,5290,23,1717,united kingdom,jumbo bag vintage doily,2.08,1,1.124930,1,8.573763,1.0
159375,504673,2011-06-13,16:33,877,155,148,united kingdom,pack of 72 skull cake cases,0.55,0,0.438255,1,6.777647,2.0
159376,508744,2011-05-19,9:37,7039,837,419,germany,red retrospot cake stand,10.95,3,2.480731,1,8.859363,3.0
159377,308347,2011-04-08,10:19,10339,431,809,united kingdom,wood 2 drawer cabinet white finish,6.95,4,2.073172,1,9.243775,3.0
159378,301085,2011-11-10,15:51,14588,698,66,united kingdom,photo frame cornice,2.95,3,1.373716,1,9.588023,16.0
159379,205412,2011-06-29,10:50,9973,1008,1321,united kingdom,set of 3 wooden heart decorations,1.25,2,0.810930,1,9.207737,4.0
159380,366651,2011-08-12,9:14,3544,126,74,eire,pack of 72 retrospot cake cases,0.55,4,0.438255,1,8.173293,26.0
159382,121453,2011-06-06,16:41,4852,2297,2072,united kingdom,pink/blue disc/mirror string,0.39,0,0.329304,1,8.487352,6.0
159383,403230,2011-07-17,12:14,1665,415,186,united kingdom,"key fob , front door",0.65,6,0.500775,1,7.418181,2.0
159384,500026,2011-12-06,12:15,2126,445,1170,united kingdom,t-light holder hanging love bird,3.75,1,1.558145,1,7.662468,1.0

## Next, submit predicted values

In [ ]:
my_submission = pd.DataFrame({'Id': df_preds.id, 'quantity': df_preds.pred_quantity})
# you could use any filename. We choose submission here
my_submission.to_csv('submission.csv', index=False)