In [1]:
library(tidyverse)
library(lubridate)
library(ggplot2)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 2.2.1     ✔ purrr   0.2.4
✔ tibble  1.4.2     ✔ dplyr   0.7.4
✔ tidyr   0.8.0     ✔ stringr 1.2.0
✔ readr   1.1.1     ✔ forcats 0.2.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

In [2]:
train <- read_csv('train.csv')
test  <- read_csv('test.csv')

Parsed with column specification:
cols(
  id = col_integer(),
  date = col_character(),
  time = col_time(format = ""),
  invoice_id = col_integer(),
  stock_id = col_integer(),
  customer_id = col_integer(),
  country = col_character(),
  description = col_character(),
  unit_price = col_double(),
  quantity = col_integer()
)
Parsed with column specification:
cols(
  id = col_integer(),
  date = col_character(),
  time = col_time(format = ""),
  invoice_id = col_integer(),
  stock_id = col_integer(),
  customer_id = col_integer(),
  country = col_character(),
  description = col_character(),
  unit_price = col_double()
)

In [3]:
head(train)

  id     date       time     invoice_id stock_id customer_id country
1 330477 8/30/2011  12:26:00  357        198        7        united kingdom
2 113814 11/1/2011  14:54:00 6757       2747      410        united kingdom
3  51510 7/11/2011  16:21:00   52        755        7        united kingdom
4 257784 10/11/2011 14:52:00 3642       1942     1722        france
5 431803 11/14/2011 14:59:00 2105         39     1159        united kingdom
6 473125 12/3/2010  11:35:00 1768        506     1009        united kingdom
  description                       unit_price quantity
1 french blue metal door sign 3     2.46       1
2 paper lantern 9 point deluxe star 6.65       4
3 fruit salad bag charm             2.46       1
4 set of 10 led dolly lights        6.25       2
5 glitter christmas star            0.39       5
6 set 20 napkins fairy cakes design 0.85       1

In [4]:
head(test)

  id     date       time     invoice_id stock_id customer_id country
1  36260 4/3/2011   15:22:00  2          2        2          united kingdom
2 156272 9/14/2011  15:41:00 10          9        9          united kingdom
3 155140 12/16/2010 14:27:00 11         10       10          united kingdom
4 504947 3/7/2011   12:31:00 12         11       11          united kingdom
5  65461 10/25/2011 13:17:00 16         15       14          united kingdom
6 307052 7/19/2011  12:43:00 17         16       15          finland
  description                       unit_price
1 lunch bag pink polkadot           1.65
2 mint diner wall clock             7.65
3 red drawer knob acrylic edwardian 1.25
4 kitchen metal sign                0.55
5 vintage cream cat food container  6.35
6 toilet metal sign                 0.55